@media screen and (max-width: 1000px) {
	.banner{
		.slogan{
			font-size: 1.6rem;

			.emphasis{
				display: block;
				margin-right: 0;
			}
		}
		.icon{
			margin-top: 2rem;
		}
		.icon > span{
			font-size: 2rem;
			margin-left: 1rem;
		}
		.description{
			font-size: 1.2rem;
			margin-top: 1rem;
		}
	}

	.main section{
		padding: 2rem 0;

		> .title{
			font-size: 1.6rem;
		}
		> .content{
			font-size: 1.4rem;
		}
	}

	.download{
		.other-releases{
			position: relative;
			display: block;
			margin-left: 0;
			left: 0;
			margin-top: 2em;
		}
	}

	.code-samples{
		display: none;
	}

	.doc .content{
		.navigation{
			margin-right: 0;
		}
		.navigation > a{
			float: none;
			display: block;
			margin-top: 1rem;
			width: auto;
			padding: 0 1rem;

			&:first-child{
				margin-top: 0;
			}
		}
		.navigation > a .wrapper{
			padding: 1em;

			&:after{
				font-size: 2rem;
				right: 0;
				top: 0;
			}

			.title{
				font-size: 1.2rem;
				margin-bottom: 0;
			}
			.desc{
				display: none;
				font-size: 1.2rem;
			}
		}
		.navigation > a.download .wrapper .title{
			margin-bottom: 0.8rem;
		}
	}


	.copyright{
		font-size: 1.2rem;
		text-align: center;
	}
}