html, body{
	position: relative;
	margin: 0;
	padding: 0;
}
a{
	color: inherit;
	text-decoration: none;
}

html{
	font-size: 10px;
}
body{
	font-family: Content-font, Roboto, sans-serif;
	font-size: 16px;
}

.container{
	position: relative;
	width: 100%;
	align-items: center;
	max-width: 900px;
	margin: 0 auto;
	box-sizing: border-box;
}

.clear-float{
	display: block;
	clear: both;
}

hr{
	border-bottom: none;
	border-top: solid 1px #DEDEDE;
	margin: 2rem 0;
}

@mixin title{
	color: black;
	font-size: 2.4rem;
	font-family: "Microsoft YaHei UI";
	margin-bottom: 1.8rem;
}

@mixin clearFloatByAfter{
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track {
	background-color: transparent;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb {
	width: 6px;
	border-radius: 6px;
	background-color: #CCCCCC;
}

@mixin scrollbar{
	/*三角箭头的颜色*/
	scrollbar-arrow-color: transparent;
	/*滚动条滑块按钮的颜色*/
	scrollbar-face-color: hsla(231,9%,61%,.15);
	/*滚动条整体颜色*/
	scrollbar-highlight-color: transparent;
	/*滚动条阴影*/
	scrollbar-shadow-color: transparent;
	/*滚动条轨道颜色*/
	scrollbar-track-color: #fff;


}

header{
	height: 8rem;
	display: flex;
	position: relative;
	box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
	background-color: #FFFFFF;
	border-bottom: 1px solid #d4dadf;

	.container{
		display: flex;
	}

	.logo{
		float: left;
		display: flex;
		align-items: center;
		//padding: 0 1.6rem;
		background-color: white;

		img{
			width: 4rem;
			height: 4rem;
		}

		span{
			flex: 1;
			font-size: 2.4rem;
			font-weight: 500;
			overflow-wrap: break-word;
			margin-left: 0.8rem;
		}
	}

	.github{
		position: absolute;
		right: 0;
	}
	.github:before{
		font-family: iconfont;
		content: "\e970";
		font-size: 4rem;
	}
}

.banner{
	padding: 4rem 2rem;
	background-color: #F5F7F9;

	.slogan{
		font-size: 3.2rem;
	}

	.icon{
		margin-top: 6rem;

		> span{
			font-family: iconfont;
			font-size: 3.2rem;
			margin-left: 2rem;

			&:first-child{
				margin-left: 0;
			}
		}

		.html:before{
			content: "\e600";
		}
		.css:before{
			content: "\e604";
		}
		.js:before{
			content: "\e619";
		}
	}

	.description{
		color: #666666;
		margin-top: 2rem;
		line-height: 2em;
	}
}

.main{
	margin-top: 4rem;

	.left{
		float: left;
		position: relative;
		width: 60%;
		padding-right: 2rem;
		box-sizing: border-box;

		&:after{
			display: block;
			position: absolute;
			top: 0;
			right: 1rem;
			content: "";
			height: 100%;
			width: 0;
			border-left: solid 1px #DEDEDE;
		}
	}
	.right{
		float: right;
		width: 40%;
		overflow: auto;
	}

	.feature .title{
		@include title;
	}
	.feature .content{
		@include clearFloatByAfter;

		> div{
			float: left;
			display: flex;
			align-items: center;
			width: 50%;
			margin-top: 0.4rem;
			font-weight: lighter;

			&:before{
				font-family: iconfont;
				content: "\e603";
				margin-right: 1rem;
				color: #DEDEDE;
				font-size: 2.4rem;
			}

			&:nth-child(1),
			&:nth-child(2){
				margin-top: 0;
			}
		}
	}

	.navigation{
		margin-right: -2rem;
		@include clearFloatByAfter;
	}
	.navigation > a{
		float: left;
		display: block;
		position: relative;
		width: 50%;
		padding-right: 2rem;
		box-sizing: border-box;
		margin-top: 2rem;

		&:nth-child(1),
		&:nth-child(2){
			margin-top: 0;
		}

		.wrapper{
			position: relative;
			padding: 2rem;
			color: #999999;
			font-size: 1.4rem;
			background-color: #F5F7F9;

			&:after{
				position: absolute;
				right: 2rem;
				top: 2rem;
				font-family: iconfont;
				font-size: 3rem;
				color: #DEDEDE;
				content: "\e697";
			}
		}

		.title{
			display: block;
			@include title;
		}
	}

	.latest-version{
		color: black;
		margin-right: 2rem;

		&:hover{
			border-bottom: solid 1px black;
		}
	}
	.latest-version:before{
		font-family: iconfont;
		content: "\e68d";
		margin-right: 1rem;
	}
	.other-releases:hover{
		text-decoration: underline;
	}

	.right .title{
		display: block;
		@include title;
	}
	.right .wrapper{
		height: calc(100% - 48px);
		overflow: auto;
	}
}

.copyright{
	padding: 1rem;
	font-size: 1.4rem;
	color: #999999;
}

@media screen and (max-width: 1000px) {
	header{
		.logo{
			float: none;
			margin: 0 auto;
		}

		.github{
			display: none;
		}
	}

	.banner{
		.slogan{
			font-size: 1.6rem;
		}
		.icon{
			margin-top: 2rem;
		}
		.icon > span{
			font-size: 2rem;
			margin-left: 1rem;
		}
		.description{
			font-size: 1.2rem;
			margin-top: 1rem;
		}
	}

	.main{
		margin-top: 2rem;
	}
	.main .left{
		float: none;
		width: 100%;
		padding: 0 2rem;
		box-sizing: border-box;

		hr{
			margin: 1rem 0;
		}

		&:after{
			display: none;
		}

		.feature .title{
			font-size: 1.4rem;
			margin-bottom: 0.8rem;
		}
		.feature .content > div{
			font-size: 1.2rem;

			&:before{
				font-size: 1.4rem;
				margin-right: 0.4rem;
			}
		}

		.navigation{
			margin-right: 0;
		}
		.navigation > a{
			float: none;
			display: block;
			margin-top: 1rem;
			width: auto;
			padding: 1rem;
			line-height: 1em;
			background-color: #F5F7F9;

			&:first-child{
				margin-top: 0;
			}
		}
		.navigation > a .wrapper{
			padding: 0 1em;
			background-color: transparent;

			&:after{
				font-size: 2rem;
				right: 0;
				top: 0;
			}

			.title{
				font-size: 1.4rem;
				margin-bottom: 0;
			}

			.desc{
				display: none;
			}
		}
		.navigation > a.download .wrapper .title{
			margin-bottom: 0.8rem;
		}
	}
	.main .right{
		display: none;
	}

	.copyright{
		margin-top: 2rem;
		font-size: 1.2rem;
		text-align: center;
	}
}